/*working file for rough drafts*/

body {
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 10px;
	color: hsla(185, 100%, 40%, 1);;
}

form { margin-bottom: 30px; }

.navbar {
	background-color: #1E4D2B
}
.navbar li {
	color: #FFFFFF
}
.page-header{
  padding-top: 10px;
}

.jumbotron {
	background-color: #C8C372
}

.btn {
	background-color: #1E4D2B
}

#input {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

h2 { font-size: 16px; }

h3 { font-size: 13px; }

.results {
	width: 100%;
}

.foodResultContainer {
	background-color: white;
	opacity: 0.8;
	transition: 0.2s;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-left: 5px solid hsla(185, 100%, 60%, 1);;
	border-bottom: 3px solid hsla(185, 100%, 60%, 1);;
}

.foodResultContainer:hover { opacity: 1; }
