/*.navbar {
  padding-bottom: 10px;
  background-color: hsla(210, 100%, 25%, 1)

}*/

.page-header{
  padding-top: 10px;
}
#myNavbar {
	background-color: hsla(210, 100%, 25%, 1);
}
#bmrResultsBox, .dailyTotal {
  display: block;
  font-size: 2em;
  color: hsla(210, 100%, 25%, 1);
  font-variant: small-caps;
  margin: 20px;
}

.yourBeerDisplayBox {
  color: white;
  border-width: medium;
  border-color: hsla(210, 100%, 25%, 1);
  border-radius: 5px;
  background-color: hsla(210, 100%, 25%, 1);
}
.borderBox {
  margin: 100px 0px 100px 10px;
}

#readyForBeer {
  align-self: center;
  margin: 200px;
}

.foodResultContainer {
	background-color: white;
	opacity: 0.8;
	transition: 0.2s;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
  font-size: .5em;
	border-left: 5px solid hsla(210, 100%, 40%, .8);
	border-bottom: 3px solid hsla(210, 100%, 40%, .8);
}

/*#resetButton {
  background-color: lightblue;
}*/

#resetButtonContainer {
  display: flex;
  justify-content:flex-start;
  margin-bottom: 100px;
}
